@{
    ViewData["Title"] = "Dodaj pytanie lub odpowiedź";
}

<div class="text-center">
    <h1 class="display-4 fw-bold">Witaj Przybyszu!</h1>
    <p>Tu będzie możliwość dodania nowych rzeczy do bazy... Kiedyś</p>
</div>