@{
    ViewData["Title"] = "Lista pytań i odpowiedzi";
}

<div class="text-center">
    <h1 class="display-4 fw-bold">Witaj Przybyszu!</h1>
    <p>Tu będzie lista pytań i odpowiedzi... Kiedyś</p>
</div>